<style> 
  .message-content {
    font-family: Arial, Helvetica;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }

  .sales-api-text {
    color: #add8e6;
  }
</style>

<div class='message-content'>
  <p> Hello {{name}}!</p>
  <br />
  <p>We received a solicitation for reset your password</p>
  <p>If it was really you, click on the link bellow to reset it</p>
  <p>
    <a href="{{link}}">Reset password</a>
  </p>
  <p>If you did not requested it, discart this</p>
  <br />
  <p>Thank you!</p>
  <p class='sales-api-text'>Sales api</p>
</div>